#map {
    height: 400px;  /* The height is 400 pixels */
    width: 400px;  /* The width is the width of the web page */
}

#directions {
    padding-left: 20px;
}

.directions-container {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
}
