<body>
    <div class="center" style="text-align: center;">
        <br>
        <h3>{{message}}</h3>
        <br>
        <br>
        <br>
        <form action="/database/login" method="post">
            <table align="center">
                <tr>
                    <td align="right"><h4>Username</h4></td>
                    <td align="left">
                        <input type="text" name="user" class="form-control" placeholder="Username"/>
                    </td>
                </tr>
                <tr>
                    <td align="right"><h4>Password</h4></td>
                    <td align="left">
                        <input type="password" name="pass" class="form-control" placeholder="Password" />
                    </td>
                </tr>
            </table>
            <br>
            <input type="submit" class="btn btn-primary" value="Login">
        </form>
        <br>
        <form action="/register.hbs">
            <input type="submit" class="btn btn-primary" value="Register">
            <br>
        </form>
    </div>
</body>