<body>
    <div class="center" style="text-align: center;">
        <br>
        <h5>{{message}}</h5><p></p>
        <br>
        <br>
        <form action="/database/register" method="post">
            <table align="center">
                <tr>
                    <td align="right"><h5>First Name </h5></td>
                    <td align="left">
                        <input type="text" class="form-control" name="fname" value="">
                    </td>
                </tr>
                <tr>
                    <td align="right"><h5>Last Name </h5></td>
                    <td align="left">
                        <input type="text" class="form-control" name="lname" value="">
                    </td>
                </tr>
                <tr>
                    <td align="right"><h5>Email </h5></td>
                    <td align="left">
                        <input type="text" class="form-control" name="email" value="">
                    </td>
                </tr>
                <tr>
                    <td align="right"><h5>Username </h5></td>
                    <td align="left">
                        <input type="text" class="form-control" name="user" value="">
                    </td>
                </tr>
                <tr>
                    <td align="right"><h5>Password </h5></td>
                    <td align="left">
                        <input type="password" class="form-control" id="pass" name="pass" value="">
                    </td>
                </tr>
            </table>
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>
    </div>
</body>